* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 100px;
}

header div h1 {
    background-color: #f8440c;
    margin: 15px 0;
    min-width: 320px;
    max-width: 440px;
    border-radius: 10px;
    border: solid 3px;
    text-align: center;
}

.container__input {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 440px;
    margin: 0;
    border: solid 3px;
    border-radius: 4px;
    justify-content: flex-start;
}
.header__input {
    width: 90%;
    height: 30px;
    padding-left: 10px;
    border: none;
    outline: none;
}
.header__search-icon {
    width: 10%;
    height: 30px;
    padding: 10px;
    border-left: solid 3px;
    background-image: url('https://i.postimg.cc/MTVzcSw4/search-icon1.png');
    background-repeat:  no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    width: 340px;
}

.main__container {
    columns: 3 320px;
    column-gap: 0; 
}

.main__container img {
    display: block;
    border:solid 8px black;
    width: 320px;
    min-height: 180px;
    max-height: 900px;
    background-size: cover;
}

@media (min-width:650px) {

    main {
        width: 650px;
    }
}

@media (min-width:970px) {

    main {
        width: 970px;
    }
}




